@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap');


body{
    background-color: #fcf8f6;
}
.main{
    display: flex;
    flex-direction: row;
    margin: 88px;
    gap: 32px;
}



.add-cart img {
    width: 20px;  /* ou o tamanho que você quiser */
    height: 20px;
    object-fit: contain;
  }

.title{
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #260F08;
    margin: 0px;
}

.lista_produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart{
    padding: 24px;
    background-color: white;
    height: fit-content;
}

.your_cart{
    margin: 0px;
    color: #c73b0f;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.empt_cart{
    margin-top: 24px;
}

ul{
    margin-top: 32px;
    padding: 0;
    gap: 50px;
}

li{
   list-style-type: none; 
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.imagem-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-cart{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 12px;
    font-family: 'Red Hat Text', 'sans-serif';
    font-weight: 600;
    font-size: 14px;
    color: #260F08;
    background-color: white;
    border: 2px solid #caafa7;
    border-radius: 30px;
    gap: 8px;
    
}

.texto-addcart{
    margin: 0;
}

h4{
    margin: 0;
}

.descricao-item{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 4px;
}

.item-title{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #87635a;
}

.item-desc{
    color: #260F08;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}


.price{
    margin: 0;
    color: #c73b0f;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

@media (max-width: 1366px) and (min-width: 768px) {
    .main {
      flex-direction: column;
      margin: 32px;
    }
  
    .lista_produtos {
      justify-content: center;
      gap: 32px;
    }
  
    .item {
      width: calc(50% - 16px);
    }
  
    .cart {
      margin-top: 32px;
    }
  }
  
  /* Mobile - até 767px */
  @media (max-width: 767px) {
    .main {
      flex-direction: column;
      margin: 16px;
    }
  
    .lista_produtos {
      justify-content: center;
      gap: 24px;
    }
  
    .item {
      width: 100%;
    }
  
    .cart {
      margin-top: 32px;
    }
  }